*{
    font-family:sans-serif;
    }

body {

    /* Aquí el origen de la imagen */ 

    background: -webkit-linear-gradient(to right, hsla(0, 0%, 0%, 0.348), hsl(0, 0%, 0%)),url(../../../img/portadas-animes/heroic-age.png);
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.275),  hsla(0, 0%, 0%, 0.664)),url(../../../img/portadas-animes/heroic-age.png);
  
    /* Fijar la imagen de fondo este vertical y
    horizontalmente y centrado */
    background-position: center center;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    background-attachment: fixed;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    margin: 0;
    }

/* CARGA */

#contenedor-carga {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 150;
    }

#carga {
    border: 15px solid rgb(241, 241, 241);
    border-top-color: rgb(217, 169, 97);
    border-top-style: double;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
    }

@keyframes girar {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
    } 


/* ---------- PORTADA SERIE ---------- */

#titulo {
    display: flex;
    width: 100%;
    align-items:flex-start;
    justify-content: center; 
    }

h1 {
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    }

#navbar {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    }
    
#navbar a{
    color: rgb(217, 169, 97);
    margin: 3px;
    padding: 14px 6px;
    text-decoration: none;
    }
    
#navbar a:hover{
    background-color: rgb(178, 143, 90);
    color: rgb(255, 255, 255);
    }

/* SECCION CONTENIDO */

.contenedor { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    }

#imgcont {
    margin-top: -10px;
    max-width: 300px;
    height: 180px;
    border-radius: 4px;
    border: 1px solid rgb(178, 143, 90);
    }    

.contenedor .content {
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    padding: 0px 0px 0px 0px; /* top right bottom left */
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    }

.contenedor .carta .content hr {
    border-color: rgb(178, 143, 90);
    height: 1px;
    }


.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
.contenedor-boton #boton {
    background-color: rgb(178, 143, 90);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 50px;
    border-radius: 20px;
    margin: 40px 0px 100px 10px;
    cursor: pointer;
    transition: 0.3s;
    }

#boton:hover {
    background-color: rgb(131, 103, 61);
    }

    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto; /* Enable scroll if needed */ 
    }
    
    /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px 60px 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 75%;
    }
    
.enlaces {
    text-align: center;
    }

.enlaces .titulo2 {
    color: rgb(178, 143, 90);
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    }

.enlaces a {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-decoration: none;
    }

.enlaces a:hover {
    transition: 0.6s;
    font-weight: bold;
    }
    
    /* The Close Button */
.close {
    padding: 10px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

.titulo-enlaces {
    padding-left: 30px;
    color: #888;
    }

/* RESPONSIVE */

@media screen and (max-width: 500px) {    
    h1 {
        font-size: 30px;
    }

    #navbar {
        font-size: 15px;
    }

    #imgcont {
        width: 250px;
        height: 150px;
    }

    .contenedor .carta .content {
        margin-left: 20px;
        margin-right: 20px;
    } 

    #boton {
        padding: 12px 35px;
    }

    #boton2 {
        padding: 12px 35px;
    }

    .modal-content {
        margin-top: 5px;
    }

    .titulo-enlaces {
        padding-left: 15px;
        font-size: 22px;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}

@media screen and (max-width: 700px) {
    .contenedor .carta .content {
        margin-left: 20px;
        margin-right: 20px;
    }
}